.button {
    /*-fx-background-color: #a55233;*/
    /*-fx-text-fill: #f3bc77;  */
    /*-fx-background-color: #2c2520;*/
    /*-fx-text-fill: #f3bc77; */
    -fx-background-color: #151515;
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(5, 4, 4, 0.24), 10, 0, 0, 0);
    -fx-end-margin: 10px;
    -fx-start-margin-margin: 10px;
}

.button:hover {
    -fx-background-color: #312f2f;
    -fx-cursor: hand;
}
.button:pressed {
    -fx-background-color: #000;
}

.label{
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-font-style: italic;
    -fx-font-family: 'Lucida Console';
    -fx-text-fill: #000000;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane{
    -fx-border-color: rgba(255,255,255,0);
    -fx-border-width: 0px;
    -fx-background-color: transparent;

}
.scroll-pane > .scroll-bar:vertical {
    -fx-background-color: rgba(105, 105, 105, 0.22);
}

.scroll-pane > .scroll-bar:vertical .thumb {
    -fx-background-color: black;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-background-color: rgba(105, 105, 105, 0.22);
}

.scroll-pane > .scroll-bar:horizontal .thumb {
    -fx-background-color: black;
}

.text-field{
    -fx-pref-width: 350px;
    -fx-max-width: 350px;
    -fx-max-height: 45px;
    -fx-pref-height: 45px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-faint-focus-color: rgba(0, 0, 0, 0.1);
    -fx-font-family: 'Lucida Console';
    -fx-font-size: 14px;
}

.text-area{
    -fx-min-width: 1300px;
    -fx-max-width: 1400px;
    -fx-max-height: 539px;
    -fx-min-height: 539px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-faint-focus-color: rgba(0, 0, 0, 0.1);
    -fx-font-family: Verdana;
    -fx-font-size: 13px;
}
